$background : #080808;

.home-top {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-image: url('../public/home-background.png');
    background-position: center;
    background-size: cover;
}

.home-text {
    h2, highlight {
        &::selection {
            -webkit-text-fill-color: white;
        }
        font-weight: 700;
        letter-spacing: -5px;
        margin: 0;
        font-size: 70px;
        background: linear-gradient(129deg, rgba(254,255,233,1) 39%, rgba(255,242,243,1) 56%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    highlight {
        margin-left: 10px;
    }
    p {
        font-weight: 300;
        font-size: 15px;
        margin-top: 10px;
        line-height: 160%;
    }
    animation: home;
    animation-duration: 3s; 
    animation-timing-function: cubic-bezier(.12,.86,.29,.96);
}

.home-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.home-top-botton{
    button {
        svg {
            width: 20px;
            margin-left: 10px;
        }
        &:hover {
            background-color: white;
            color: $background;
        }
        font-family: 'Noto Sans KR', sans-serif;
        color: white;
        padding: 10px 20px;
        background-color: #00000000;
        border: 2px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        cursor: pointer;
    }
    div{
        width: 10px;
    }
    display: flex;
    margin-top: 30px;
    justify-content: center;
} 

.text-fucus-bar {
    margin-left: 10px;
    margin-top: 10px;
    width: 2px;
    height: 70px;
    background-color: white;
    animation: textfocus;
    animation-duration: 2s; 
    animation-timing-function: cubic-bezier(.82,0,.16,.98);
    animation-iteration-count: infinite;
}


.mouse-body {
    .mouse-button {
        position: relative;
        width: 8px;
        height: 8px;
        border-radius: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
        background-color: white;
    }
    position:  absolute;
    margin: 0 auto;
    bottom: 80px;
    width: 25px;
    height: 40px;
    border: 2px solid white;
    border-radius: 30px;
    animation: mouse;
    animation-duration: 2s; 
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    z-index: 5;
}

.home-first {
    background-color: $background;
    position: relative;
    top: -100px;
    height: 200px;
    width: 100%;
    text-align: center;
    color: white;
    clip-path: polygon(0 0, 100% 33%, 100% 100%, 0 100%);
}

.home-first-devider {
    height: 150px;
}

@keyframes textfocus {
    0%{
        opacity: 0%;
    }
    50%{
        opacity: 100%;
    }
    100%{
        opacity: 0%;
    }
}

@keyframes mouse {
    0%{
        bottom: 120px;
    }

    50%{
        bottom: 100px;
    }
    100%{
        bottom: 120px;
    }
}

@keyframes home {
    from {
        transform: scale(90%);
        filter: blur(1.5rem);
        opacity: 0%;
    }

    30%{
        filter: blur(0);
    }
    
    to {
        transform: scale(100%);
        opacity: 100%;
    }
}

@media screen and (max-width:768px) {
    .home-text h2, .home-text highlight {
        font-size: 50px;
        letter-spacing: -3px;
    }
    .home-text {
        transform: scale(75%);
    }
    
    .text-fucus-bar{
        height: 50px;
    }

    @keyframes home {
        from {
            transform: scale(90%);
            opacity: 0%;
        }
        
        to {
            transform: scale(75%);
            opacity: 100%;
        }
    }
}