body {
  background: #080808;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}
.register-form-header {
  color: #000000;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
  font-size: 30px;
}
.register-form-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.register-form {
  background: #ffffff;
  padding: 40px 20px;
  height: 600px;
  width: 400px;
  border-radius: 5px;
  border: 1px solid white;
}

.input-group {
  position: relative;
  width: 100%;
}

.input {
  background-color: inherit;
  height: 50px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  border: 1px solid #bdbdbd;
  border-radius: 3px;
  color: #000000;
  font-size: 18px;
  transition: all 0.3s ease;
}

.input:focus {
  border: 1px solid #000000;
  transition: all 0.2s ease;
}
.input:valid {
  border: 1px solid #000000;
}

.input:not(:focus):valid {
  border: 1px solid #bdbdbd;
}
.input:not(:focus):valid + .placeholder {
  color: #8f8f8f;
}

.input:focus + .placeholder,
.input:valid + .placeholder {
  top: -13px;
  left: 8px;
  color: #000000;
  background-color: #ffffff;
  font-size: 14px;
}

.placeholder {
  font-weight: 400;
  position: absolute;
  top: 11px;
  left: 12px;
  font-size: 16px;
  padding: 0px 5px;
  color: #8f8f8f;
  transition: 0.15s;
  pointer-events: none;
}

.btn {
  width: 100%;
  background-color: #252525;
  border: 1px solid white;
  color: rgb(255, 255, 255);
  padding: 12px;
  margin-top: 10px;
  border-radius: 3px;
  font-size: 20px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.btn:hover {
  background: opacify($color: #3a3a3a, $amount: 0.5);
  transition: all 0.3s ease;
}

hr {
  margin-top: 20px;
}
p {
  text-align: center;
  margin-top: 10px;
  color: #000000;
}
